# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\privateWork\studentmanager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
